Package: us.anemone-fonts.Comfortaa
Name: Comfortaa Font Anemone
Version: 1.0
Architecture: iphoneos-arm
Description: Comfortaa Font Anemone
Depends: com.anemonetheming.anemone (>=2.0-1)
Maintainer: Michael Woolweaver <AnemoneFonts@gmail.com>
Author: Michael Woolweaver <AnemoneFonts@gmail.com>
Section: Fonts (iOS 9 Anemone)
Depiction: https://anemone-fonts.us/dep/Comfortaa/index.html
