Package: us.anemone-fonts.BariolSerif
Name: Bariol Serif Font Anemone
Version: 1.0
Architecture: iphoneos-arm
Description: Bariol Serif Font Anemone
Depends: com.anemonetheming.anemone (>=2.0-1)
Maintainer: Michael Woolweaver <AnemoneFonts@gmail.com>
Author: Michael Woolweaver <AnemoneFonts@gmail.com>
Section: Fonts (iOS 9 Anemone)
Depiction: https://anemone-fonts.us/dep/BariolSerif/index.html
