Package: us.anemone-fonts.TitilliumWeb
Name: Titillium Web Font Anemone
Version: 1.0
Architecture: iphoneos-arm
Description: Titillium Web Font Anemone
Depends: com.anemonetheming.anemone (>=2.0-1)
Maintainer: Michael Woolweaver <AnemoneFonts@gmail.com>
Author: Michael Woolweaver <AnemoneFonts@gmail.com>
Section: Fonts (iOS 9 Anemone)
Depiction: https://anemone-fonts.us/dep/TitilliumWeb/index.html
