Package: us.anemone-fonts.JohnSansPro
Name: John Sans Pro Font Anemone
Version: 1.0
Architecture: iphoneos-arm
Description: John Sans Pro Font Anemone
Depends: com.anemonetheming.anemone (>=2.0-1)
Maintainer: Michael Woolweaver <AnemoneFonts@gmail.com>
Author: Michael Woolweaver <AnemoneFonts@gmail.com>
Section: Fonts (iOS 9 Anemone)
Depiction: https://anemone-fonts.us/dep/JohnSansPro/index.html
